<!DOCTYPE html>
<html lang="en" ng-app="articlesModule">

<head>
    <meta charset="UTF-8">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src='assets/js/controllers.js'></script>


    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='assets/css/style.css' rel='stylesheet' type='text/css' />

    <title>Title</title>
</head>

<body>

    <div ng-controller="articlesforDay">


        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Magic</a>
                </div>
                <div class="nav navbar-nav col-md-2 pull-right p-a-10">
                    <div class="input-group">

                        <input ng-change="articlesForDay()" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />

                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>

                    </div>
                </div>
            </div>

        </nav>

        <div class="page-header">
            <div ng-repeat="article in articles" ng-controller="articleController">
                <div class="row">
                    <div class="center-block col-md-6" style="float: none;">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 ng-click="expand(article)"> {{article.title}}</h2>
                            </div>

                            <div class="panel-body">

                                <span>Автор: {{article.author}}</span>
                                <div>Дата: {{article.date}} {{article.time}}</div>
                                <div ng-show="isCollapsed">
                                    <div class="text-justify text">{{article.text}}</div>
                                </div>
                                <div uib-collapse="isCollapsed">
                                    <div ng-repeat="paragraph in paragraphs" ng-show="!$first || !isCollapsed">

                                        <img class="pull-right p-a-10" ng-src="{{paragraph.imgsrc}}" ng-if=paragraph.imgsrc>

                                        <div class="text-justify" ng-class="{true: 'quote', false: 'text'}[paragraph.quote]">
                                            {{paragraph.text}}
                                        </div>
                                    </div>

                                    <button ng-click="expand(article)" type="button" class="btn btn-primary">Свернуть</button>
                                </div>

                                <div ng-show="isCollapsed">
                                    <button ng-click="expand(article)" type="button" class="btn btn-primary">Развернуть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>
